.app {
    width: 800px;
    margin: auto;
}

.addbook {
    float: right;
    margin-top: 8px;
}

.table {
    width: 800px;
    float: left;
}

.border td {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 15px;
}

.column {
    background: grey;
    font-weight: bold;
}

.title {
    font-size: 30px;
    width: auto;
}

body {
    font-family: Comic Sans MS, fantasy;
}